.map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .map-tools {
    width: calc(100vw - 16px);
    display: flex;
    position: absolute;
    overflow-x: auto;
    bottom: 0;
    padding: 8px;
    gap: 8px;
  }
  
  .tooltip-container {
    z-index: 99;
    visibility: hidden;
    display: flex;
    position: absolute;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
    background-color: azure;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;

    .tooltip-label {
      width: 50px;
    }
  }

  .loading {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    font-size: x-large;
    font-weight: 600;
    top: 0;
    left: 0;

    .text-border {
      padding: 20px;
      border: 2px solid grey;
      border-radius: 10px;
      background-color: #FFFFFF90;
    }
  }
}
