.map-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .map-tools {
    width: calc(100vw - 16px);
    display: flex;
    position: absolute;
    overflow-x: auto;
    bottom: 0;
    padding: 8px;
    gap: 8px;
  }
  
  .tooltip-container {
    z-index: 99;
    visibility: hidden;
    display: flex;
    position: absolute;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
    background-color: azure;
    padding: 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;

    .tooltip-label {
      width: 50px;
    }
  }
}
